<style>
            body{
               background-color: #CBEDD5;
            }
            hr{
                border-style: none;
                border-top-style: dotted;  /*firstvalue is for top 2nd value is right&left3rd for botton andif 4 are mentioned 4 values is assigned clock wise */
                border-color: grey;
                border-width: 8px;
                width: 8%;

            }
            h1{
                color:#66bfbf ;
            }
            h3{
                color: #66bfbf;
            }
            h3{
                color: cyan;
            }
</style>